---
import SkillsSection from "./components/SkillsSection.astro";
import FormSection from "./components/FormSection.astro";
import ProjectSection from "./components/ProjectSection.astro";
import AboutMeSection from "./components/AboutMeSection.astro";
import ProfileSection from "./components/ProfileSection.astro";
---

<main class="w-full flex flex-col items-center gap-32 lg:p-0">
  <ProfileSection />
  <AboutMeSection />
  <SkillsSection />
  <ProjectSection />
  <FormSection />
</main>
