---
const list = [
  { value: "About me", href: "#about_me" },
  { value: "Skills", href: "#skills" },
  { value: "Projects", href: "#projects" },
  { value: "Contact me", href: "#contact_me" },
];
---

<nav class="max-w-[1200px] w-full p-10 flex items-center justify-end">
  <ul class="flex items-center gap-4">
    {
      list.map((item) => (
        <li class="text-[var(--dark-green)] border-b-2 border-transparent text-lg hover:border-[var(--dark-green)] hover:scale-105 transition-all px-2">
          <a href={item.href}>{item.value}</a>
        </li>
      ))
    }
  </ul>
</nav>
