---
import "@fontsource/ubuntu";
import Navbar from "../shared/components/Navbar.astro";
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="flex flex-col items-center">
    <header class="w-full flex justify-center">
      <Navbar />
    </header>
    <slot />
    <footer class="w-full flex flex-col items-center py-16">
      <span class="font-semibold">Web developed with Astro and Tailwind ❤️</span
      >
    </footer>
  </body>
</html>
<style is:global>
  :root {
    --bone: #fbfdff;
    --ligth-green: #77b0aa;
    --green: #135d66;
    --dark-green: #003c43;
  }
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
  }

  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    background-color: var(--bone);
    font-family: "Ubuntu";
  }

  img,
  picture,
  video,
  canvas,
  svg {
    display: block;
    max-width: 100%;
  }

  input,
  button,
  textarea,
  select {
    font: inherit;
  }

  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    overflow-wrap: break-word;
  }

  #root,
  #__next {
    isolation: isolate;
  }
</style>
