---
import Avatar from "../../../shared/components/Avatar.astro";
---

<section
  class="flex flex-col items-center w-full px-8 py-14 bg-[var(--green)] lg:py-36 lg:mt-24"
  id="about_me"
>
  <div
    class="flex flex-col-reverse lg:flex-row gap-10 lg:gap-0 items-center lg:justify-between w-full max-w-[1200px] text-[var(--bone)]"
  >
    <Avatar image="/avatar_thinking.webp" />
    <article class="lg:w-[600px]">
      <h2 class="text-start text-4xl font-bold mb-4">About me</h2>
      <p class="text-lg font-medium">
        I am Vladimir Castañeda, a passionate software developer with extensive
        experience in frontend and mobile development. I have worked with
        technologies such as React, React Native, HTML5, CSS3, JavaScript, and
        Typescript, focusing on creating innovative and user-centric solutions.
        <br />
        <br />
        My collaborative approach has enabled me to work effectively in multidisciplinary
        teams, contributing to project success through effective communication and
        a commitment to quality. I am driven by solving complex problems and creating
        exceptional user experiences, always seeking to add value to the projects
        I participate in. My ability to adapt to dynamic environments and my passion
        for innovation make me a professional capable of meeting the challenges of
        modern software development.
      </p>
    </article>
  </div>
</section>
